@import "tailwindcss";
@import "remixicon/fonts/remixicon.css";
@import "react-datepicker/dist/react-datepicker.css";

:root {
  --background: #ffffff;
}

:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

select {
  position: relative;
  transform: none !important;
}

select:focus {
  position: relative;
}


.react-datepicker {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: none;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  border-radius: 1.5rem;
  padding: 1rem 0;
}

.react-datepicker__month-container {
  width: 90%;
  max-width: 320px;
  margin: 0 auto;
}

.react-datepicker__header {
  background-color: white;
  border-bottom: none;
  text-align: center;
}

.react-datepicker__current-month {
  font-size: 1.1rem;
  font-weight: 600;
  color: #1f1f1f;
  margin-bottom: 0.3rem;
}

.react-datepicker__day-name {
  font-size: 0.8rem;
  color: #9ca3af;
  margin: 0.3rem;
}

.react-datepicker__day {
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  margin: 0.25rem;
  border-radius: 50%;
  font-size: 0.9rem;
  color: #374151;
  transition: all 0.2s ease;
}

.react-datepicker__day:hover {
  background-color: #f3f0ff;
  color: #5f72be;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #a991ff !important;
  color: white !important;
}

.react-datepicker__navigation {
  padding: 35px;
}